<!DOCTYPE html>
<html lang="en">
<head  xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="footer" th:fragment="footer">
    <div class="footer-links">

    </div>
    <div class="footer-copyright" style="color: white;opacity: 0.5;">
        @Copyright Picojazz 2018
    </div>
</div>

</body>
</html>