<!DOCTYPE html>
<html lang="en" >
<head xmlns:th="http://www.thymeleaf.org"
      >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8" />
    <title>Title</title>

</head>
<body th:fragment="header">


<div class="navbar-wagon navbar-fixed-top" >
    <!-- Logo -->    <a href="/" class="navbar-wagon-brand">
    Picojazz
</a>

    <!-- Right Navigation -->




        <div class="navbar-wagon-right hidden-xs hidden-sm" >


            <a th:if="${#httpServletRequest.remoteUser} == null" th:href="@{/login}" class="navbar-wagon-item  btn-treehouse" ><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a>

            <!-- Profile picture with dropdown list -->
            <div th:if="${#httpServletRequest.remoteUser} != null" class="navbar-wagon-item">
                <div class="dropdown">
                    <a th:href="@{/logout}"  class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" th:inline="text">Se deconnecter</a>

                </div>
            </div>


            <!-- Dropdown appearing on mobile only -->
        </div>


</div>
</body>
</html>