<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Login Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="margin-top:80px;margin-bottom:0px;">
    <div class="row"><br />
        <div class="alert alert-danger" th:if="${param.error}">Username ou password incorrect !</div>
        <div class="alert alert-success" th:if="${param.logout}">deconnexion reussie !</div>
        <div th:class="${type}" th:text="${message}"></div>
        <br />

        <div class="col-md-4 col-md-offset-1">
            <h2 class="text-center"> Inscription</h2>
            <form th:action="@{signup}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="">Username :</label>
                    <input type="text" th:field="*{username}" class="form-control" />
                    <span class="text-danger" th:errors="*{username}"></span>
                </div><div class="form-group">
                <label for="">Email :</label>
                <input type="email" th:field="*{email}" class="form-control" />
                <span class="text-danger" th:errors="*{email}"></span>
            </div>
                <div class="form-group">
                    <label for="">Password :</label>
                    <input type="password" th:field="*{password}" class="form-control" />
                    <span class="text-danger" th:errors="*{password}"></span>
                </div>
                <button type="submit" class="btn btn-success">S'inscrire</button>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h2 class="text-center"> Connexion</h2>
            <form th:action="@{login}" method="post">
                <div class="form-group">
                    <label for="">Username :</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Password :</label>
                    <input type="password" name="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>