<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <h1 class="text-center" style="margin-top: 100px;">Gestion budget</h1>

<div class="container">
    <div class="row">
    <div class="col-md-2 col-md-offset-5">
    <form th:action="@{/new}" method="get">
        <input type="text" name="montant" class="form-control text-center" placeholder="montant" />
    <button type="submit"  class="btn btn-primary text-center">nouveau budget</button>
    </form>
    </div>
    </div>

    <h2 class="text-center">Montant du budget global : <span class="text-primary" th:text="${budget.montantD}"></span></h2>
    <h3 class="text-center">Montant du budget actuel : <span class="text-warning" th:text="${budget.montant}"></span></h3>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <h4 class="text-center">faire une transaction</h4>
        <form th:action="@{/add}" method="get">
            <select name="type" id="" class="form-control">
                <option value="retrait">retrait</option>
                <option value="depot">depot</option>
            </select>
            <input type="number" name="montant" placeholder="montant" class="form-control" />
            <input type="text" name="description" placeholder="description" class="form-control"/>
            <input type="hidden" name="idBudget" th:value="${budget.id}" />
            <button type="submit" class="btn btn-primary"> Ajouter</button>
        </form>
        </div>
    </div>


        <div class="text-center panel panel-primary">
            <div class="panel-heading">Liste des transactions</div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Description</th>
                    </tr>
                    <tr  th:each="t:${budget.transactions}">
                        <td th:text="${t.id}"></td>
                        <td th:text="${t.date}"></td>
                        <td th:text="${t.type}"></td>
                        <td th:text="${t.montant}"></td>
                        <td th:text="${t.description}"></td>

                    </tr>

                </table>
            </div>

        </div>
</div>




</body>
</html>